<footer class="post-footer">
    Connect through &nbsp

    {%- if config.extra.email -%}
    <a href="mailto:{{ config.extra.email }}">{{ config.extra.email }}</a>,
    {%- endif -%}

    {%- if config.extra.github -%}
    &nbsp;
    <a href="https://github.com/{{ config.extra.github }}">{{ config.extra.github }}</a> on Github,
    {%- endif -%}

    {%- if config.extra.twitter -%}
    &nbsp;
    <a href="https://twitter.com/{{ config.extra.twitter }}">@{{ config.extra.twitter }}</a> on Twitter,</a>
    {%- endif -%}

    {%- if config.extra.linkedin -%}
    &nbsp;
    <a href="https://www.linkedin.com/in/{{ config.extra.linkedin }}">{{ config.extra.linkedin }}</a> on LinkedIn.</a>
    {%- endif -%}
</footer>