* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    scroll-behavior: smooth;
}

body {
    background-color: #1D263B;
}

h1,
h2,
h3 {
    font-family: 'Fira Mono', monospace;
}

h2 {
    margin: 0 auto;
    text-align: center;
    font-size: 1.75em;
    font-weight: 700;
}

h3 {
    margin: 0 auto;
    text-align: center;
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: 0.1em;
}

a,
span {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.green {
    color: #33ed98;
}

.bold {
    font-weight: 700;
}

.pink {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: #fd1c7a;
}


ul {
    list-style-type: none;
}

.social-link a i {
    transition: all 0.2s ease;
}

.social-link a i:hover {
    color: #fd1c7a;
}

.main-container {
    margin: 0 auto;
    padding: 0 25px;
    text-align: center;
    max-width: 1600px;
}

section {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-top: 8vh;
}

section .hyperlink {
    color: #fd1c7a;
    font-weight: 700;
    text-decoration: underline;
    transition: all 0.2s ease;
}

section .hyperlink:hover {
    color: #33ed98;
}

.section-intro {
    text-align: left;
    line-height: 2em;
    letter-spacing: 0.1em;
}

.section-intro-article p {
    font-size: 26px;
    font-weight: 600;
    padding-bottom: 30px;
    /* color: #33ed98; */
}

.custom-section-title {
    text-align: center;
    color: #33ed98;
}

.section-description {
    margin: 50px auto 0 auto;
    text-align: center;
    max-width: 1000px;
    line-height: 1.5em;
    letter-spacing: 0.025em;
}

.page-title {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-title img {
    height: 40px;
    width: auto;
    margin-right: 20px;
}

/* --- TECH STACK --- */

.tech-stack-container {
    margin: 50px auto 0 auto;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.skill {
    border-radius: 12px;
    margin: 10px;
    border: 2px solid #7EB77F;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    text-align: center;
}

.skill span {
    margin-left: 10px;
}

@media only screen and (min-width: 768px) {
    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 2em;
    }
}