name: publish

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: build
        uses: shalzz/zola-deploy-action@v0.22.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
